@import "tailwindcss";

/* ==========
   Reset básico
   ========= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Força layout sempre claro (nada de dark automático) */
:root {
  color-scheme: light;
}

/* ==========
   Body padrão
   ========= */

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* ==========
   Elementos genéricos
   ========= */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
